// ////////////////////////////////////////////////////
//  project mixin
// ////////////////////////////////////////////////////
$normal: 400;
$bold: 700;

$width: 768px;
$height: 980px;

$font-family-yu-serif: "Avenir Next Condensed", "Helvetica Neue", "Helvetica", YuGothic, '游ゴシック', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "sans-serif";
$font-family-serif: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;